- title "Assignment Breakdown"
.page-header
  = link_to new_assignment_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Assignment
  %h1 Assignment Breakdown

- Assignment.find_each do |assignment|
  - students = Student.where_assignment_progress(assignment)
  .row.with-padding
    .col-sm-3
      .center-block.text-center.assignment-index-chart-wrapper
        %canvas.assignment-chart{height: 100, width: 100, :'data-id' => assignment.id}
    .col-sm-9
      .panel.panel-default
        .panel-heading
          %h2.panel-title
            = students.length
            students have progressed to
            = link_to assignment.to_s, assignment
        - if students.length == 0
          .panel-body
            %em move along, nothing to see here
        .list-group
          - students.each do |student|
            %a.list-group-item{href: url_for(student)}= student.full_name

