.page-header
  = link_to assignments_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_assignment_path(@assignment), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show assignment

%dl.dl-horizontal
  %dt Title:
  %dd= @assignment.title
  %dt Details:
  %dd= @assignment.details
