- title "Student Index"
.page-header
  %h1 Student Progress
.center-block.text-center
  %canvas#students-chart{height: 400, width: 800}
.page-header
  = link_to new_student_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Student
  %h1 Listing students
.list-group
  - @students.each do |student|
    %a.list-group-item{href: url_for(student)}
      = student.full_name
      - if student.submissions.count > 0
        - s = student.submissions.order(:tag).last
        %span.pull-right.label{class: "label-"+s.status_class}= s
