- title "Ungraded Submissions"
.page-header
  %h1 Ungraded Submissions

.panel.panel-default
  .list-group
    - @submissions.each do |submission|
      %a.list-group-item{href: url_for(submission.student)}
        .label{class: "label-"+submission.status_class}= submission
        = submission.student.full_name
        %span.text-muted.pull-right
          = time_ago_in_words(submission.created_at)
          ago
