- title "#{@room.name} log"
%h1
  Logs for
  = @room.name

- @room.messages.order(:timestamp).each do |m|
  .row
    .col-sm-2.col-xs-4.col-user
      %p
        %a.text-muted{href: url_for([@room, m])}= m.sender+":"
    .col-sm-10.col-xs-8
      %p= m.body
